body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway';
  color: #212121;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.white-color {
  background-color: #f5f4fa;
}

.black-color {
  background-color: #2f303a;
}

.icon-header {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
}

.icon-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: white;
}

.icon-blue {
  color: #2196f3;
}

.link-nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: #212121;
}

.link-address {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: rgb(75, 75, 75, 0.6);
  cursor: pointer;
}

.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: white;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 36px;
}

.sub-title {
  font-weight: bold;
  font-size: 14px;
}

.text {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

.desc-name {
  font-weight: 500;
  font-size: 16px;
}

.desc-text {
  font-size: 16px;
}

.footer-main {
  line-height: 1.7;
  color: white;
  font-style: normal;
}

.footer-address {
  line-height: 1.7;
  color: rgb(255, 255, 255, 0.6);
}

.control {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  cursor: pointer;
}

.control:active {
  color: white;
  background-color: #2196f3;
}

.work-main {
  background-color: #eeeeee;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.work-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
}

.link-nav:hover,
.link-nav:focus,
.link-address:hover,
.link-address:focus,
.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
}
