body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.white-color {
  background-color: #f5f4fa;
}

.black-color {
  background-color: #2f303a;
}

.icon-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.icon-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: white;
}

.icon-blue {
  color: #2196f3;
}

.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #212121;
}

.link-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: rgb(75, 75, 75, 0.6);
  cursor: pointer;
}

.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: white;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.text {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.desc-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.desc-text {
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-main {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
  font-style: normal;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255, 0.6);
}

.control {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: #f5f4fa;
  cursor: pointer;
}

.control:active {
  color: white;
  background-color: #2196f3;
}

.work-main {
  background-color: #eeeeee;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.link-nav:hover,
.link-nav:focus,
.link-address:hover,
.link-address:focus,
.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
}
